*{
    margin: 0;
    padding: 0;
  }
  .orange{
    background-color: rgb(232, 104, 24);
    height: 100vh;
    width: 60vh;
  }
  .task{
    display: flex;
    position: absolute;
    justify-content: center;
  }
  
  #p1{
    background-color:#938b8b36;
    height: 100vh;
    width: 167vh;
  }
  .class1{
  height: 130px;
  width: 800px;
  background-color: beige;
  margin-top: 28px;
  margin-left: 70px;
  border-radius: 10px;
  padding: 18px;
  }
  .h3{
    font-size: 15px;
    font-weight: 350;
  }
  #head1{
    display: flex;
    
    justify-content: space-between;
  
  }
  #textcost{
    font-size: 30px;
  }
  #head2{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  #btn1{
    height: 70px;
      width: 138px;
      border: none;
      background-color: #938b8b0a;
      color: #5252de;
      font-weight: 600;
      text-decoration: none;
  }
  .h4{
    font-size: 15px;
      font-weight: 350;
      margin-top: -33px;
  }
  #btn2{
    color: #5252de;
  
  }
.class2{
    height: 350px;
    width: 800px;
    background-color: beige;
    margin-top: 28px;
    margin-left: 70px;
    border-radius: 10px;
    padding: 18px;
    }
    #q1{
        font-size: small;
        font-weight: 300;
    }
    .mini{
        display: flex;
        justify-content: space-between;
    }
    #stars{
      display: flex;
      margin-top: 20px;
      justify-content: space-evenly;
      color: #5252de;
      
    }
    #textcost{
        font-size: larger;
    }
    .true{
        margin-top: 15px;
        margin-left: 7px;
    }
    #bino{
        margin: 10px;
      margin-left: 38px;
      font-size: small;
    }
    .body1{
        display: flex;
    }
    .third{
        text-decoration: none;
    }
    #lp{
        color: #5252de;
    }
    #down{
      border: none;
    }
    #download{
        background-color: #5252de;
        border-radius: 10px;
        height: 32px;
        border: .2px soild white;
        width: 70px;
    }